# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea
.ipynb_checkpoints
__pycache__
catboost_info
data/train_preprocessed.csv
results
src/__pycache__
src/dataprep/__pycache__
src/titanic_classifier/__pycache__